<!DOCTYPE html>
<html lang="th">

<head>
  <%- include('../include/head.ejs') %>
  <title>
    <%= pageTitle %>
  </title>
  <script>
    window.onload = function() {
      document.getElementById('spinner-container').style.display = 'none';
    };

    window.addEventListener('DOMContentLoaded', (event) => {
      document.getElementById('spinner-container').style.display = 'flex';
    });

    function toggleCollapse(elementId) {
      const element = document.getElementById(elementId);
      element.classList.toggle('hidden');
    }

    const dateCheckForm = <%- JSON.stringify(dateForm) %>;
  </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

    .font-th-sarabun {
      font-family: 'Sarabun', sans-serif;
    }
  </style>
</head>

<body class="bg-gray-100 font-th-sarabun">
  <div>
    <% function countEcoSolutions(data) {
      let count1=0;
      followdata.forEach((item) => {
        if (item.smartKey === data) {
          count1++;
        }
      });
      return count1;
    }
    function countComplete(data) {
      let count2 = 0;
      followdata.forEach((item) => {
        if (item.smartKey === data) {
          if(item.status === 2||item.status===3){
            count2++;
          }
        }
      });
      return count2;
    }
    %>

    <%
      const currentDate = new Date();
      const openForm = new Date(dateForm.openForm);
      const closeForm = new Date(dateForm.closeForm);
    %>

    <div id="spinner-container" class="flex fixed top-0 left-0 w-full h-full bg-white bg-opacity-90 z-50 overflow-hidden flex-col justify-center items-center">
      <img id="static-image" src="/img/favi.png" alt="Loading..." class="w-48 h-auto mb-5">
      <div id="spinner" class="flex gap-2">
        <div class="dot w-4 h-4 bg-blue-500 rounded-full animate-blink animation-delay-1"></div>
        <div class="dot w-4 h-4 bg-blue-500 rounded-full animate-blink animation-delay-2"></div>
        <div class="dot w-4 h-4 bg-blue-500 rounded-full animate-blink animation-delay-3"></div>
      </div>
    </div>
  </div>
  <%- include('../component/navbar.ejs') %>

  <div class="flex flex-col min-h-screen">
    
    
    <div class="w-full">
      <img src="/img/banner.png" alt="Banner Image" class="w-full">
    </div>

    <div class="text-center mt-3">
      <h1 class="text-4xl">
        มีแมว1 ตัวลอยน้ำมา<span class="text-[#04b2a1]">à¹€à¸¡à¸·à¸¬à¸‡à¸—à¸µà¹ˆà¹„à¸”à¹‰à¸£à¸±à¸šà¸•à¸£à¸²à¸ªà¸±à¸à¸¥à¸±à¸à¸©à¸“à¹Œ</span>
      </h1>
    <div class="mt-5">
  <div>
    <% if (followdata && followdata.length > 0) { %>
      <h4 class="text-center text-teal-500 text-2xl"><%= followdata[0].cityName %></h4>
    <% } else { %>
      <h4 class="text-center text-teal-500 text-2xl">No City Data Available</h4>
    <% } %>
  </div>
      <div class="w-11/12 lg:w-4/5 mx-auto shadow-lg rounded-2xl bg-yellow-400 mt-3">
        <p class="text-center pt-5"><span class="text-white font-bold">*** à¹‚à¸›à¸£à¸”à¸¬à¹ˆà¸²à¸™:</span>
          <span class="text-white">à¸ªà¸–à¸²à¸™à¸° <span class="inline-block w-4 h-4 bg-red-500 rounded-full border border-red-500"></span> à¸«à¸¡à¸²à¸¢à¸–à¸¶à¸‡ à¸¢à¸±à¸‡à¹„à¸¡à¹ˆà¸—à¸³à¸à¸²à¸£à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡ -</span>
          <span class="text-white">à¸ªà¸–à¸²à¸™à¸° <span class="inline-block w-4 h-4 bg-yellow-500 rounded-full border border-yellow-500"></span> à¸«à¸¡à¸²à¸¢à¸–à¸¶à¸‡à¸‰à¸šà¸±à¸šà¸£à¹ˆà¸²à¸‡ -</span>
          <span class="text-white">à¸ªà¸–à¸²à¸™à¸° <span class="inline-block w-4 h-4 bg-green-500 rounded-full border border-green-500"></span> à¸«à¸¡à¸²à¸¢à¸–à¸¶à¸‡ à¸”à¸³à¹€à¸™à¸´à¸™à¸à¸²à¸£à¹à¸¥à¹‰à¸§</span>
          <span class="text-white">à¸ªà¸–à¸²à¸™à¸° <span class="inline-block w-4 h-4 bg-gray-200 rounded-full border-gray-500 border-2"></span> à¸«à¸¡à¸²à¸¢à¸–à¸¶à¸‡ à¸¢à¸±à¸‡à¹„à¸¡à¹ˆà¸–à¸¶à¸‡à¸£à¸¬à¸šà¹€à¸›à¸´à¸”à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡</span>
        </p>

        <div class="p-5 bg-gray-200 rounded-2xl mx-2 mb-5">
          <div id="accordion">
            <% function renderCard(section, displayName) { %>
            <div class="mb-4">
              <div class="bg-white rounded-lg shadow-md p-4 cursor-pointer flex justify-between items-center" onclick="toggleCollapse('collapse<%= section %>')" id="heading<%= section %>">
                <h5 class="text-lg font-semibold">
                  <%= displayName %>
                </h5>
                <% const countShow = countEcoSolutions(section) %>
                <% const countSuccessShow = countComplete(section) %>
                <span class="ml-auto text-md">à¸£à¸²à¸¢à¸‡à¸²à¸™à¹€à¸£à¸µà¸¢à¸šà¸£à¹‰à¸¬à¸¢ <%= countSuccessShow %>/<%= countShow %> à¹‚à¸„à¸£à¸‡à¸à¸²à¸£</span>
              </div>
              <div id="collapse<%= section %>" class="hidden bg-white rounded-lg shadow-md mt-2">
                <div class="p-4">
                  <div class="grid grid-cols-1 sm:grid-cols-6 gap-4">
                    <div class="p-2 bg-gray-100 rounded-md col-span-4">
                      <% const countProject = countEcoSolutions(section) %>
                      <%= countProject %> à¹‚à¸„à¸£à¸‡à¸à¸²à¸£
                    </div>
                    <div class="p-2 col-span-1  bg-gray-100 rounded-md text-center">
                      à¸£à¸¬à¸šà¸—à¸µà¹ˆ <%= dataRound.round %>
                    </div>
                    <div class="p-2 col-span-1 bg-gray-100 rounded-md text-center">
                      <% const count = countEcoSolutions(section) %>
                      <% const countSuccess = countComplete(section) %>
                      <%= countSuccess %>/<%= count %>
                    </div>
                  </div>
                  <div class="">
                    <% followdata.forEach((item) => { %>
                    <% if(item.smartKey === section && item.status >= 0) { %>
                    <div class="p-4 bg-white border rounded-md shadow-sm grid grid-cols-1 sm:grid-cols-6 gap-4 mt-4" >
                      <span class="mb-2 col-span-4 items-center "><%= item.solutionID.slice(4) %> <%= item.solutionName %></span>
                      <% if (item.status == 2 || currentDate > closeForm || currentDate < openForm||item.status == 3) { %>
                      <p class="p-2 w-full col-span-1 bg-gray-300 text-white rounded text-center h-10 hidden lg:block"  >à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡</p>
                      <% } else { %>
                            <% if (item.solutionID.includes("CDP01")) { %>
                              <a class="p-2 w-full col-span-1 bg-teal-500 text-white rounded text-center h-10 hidden lg:block" href="/formcdp1/<%= item.solutionID %>/<%= dataRound.round %>">à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡</a>
                            <% } else { %>
                              <a class="p-2 w-full col-span-1 bg-teal-500 text-white rounded text-center h-10 hidden lg:block" href="/formsmart/<%= item.solutionID %>/<%= dataRound.round %>">à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡</a>
                            <% } %>                        
                        <% } %>
                        <span class="mt-2 col-span-1 text-start items-center ml-5">
                          <% if (currentDate >= openForm) { %>
                          <% if (item.status == 0) { %>
                          <span class="w-5 h-5 rounded-full bg-red-500 inline-block"></span>
                          <span class="text-red-500 ">à¸¢à¸±à¸‡à¹„à¸¡à¹ˆà¸—à¸³à¸à¸²à¸£à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡</span>
                          <% } else if (item.status == 1) { %>
                          <span class="w-5 h-5 rounded-full bg-yellow-500 inline-block"></span>
                          <span class="text-yellow-500 ">à¸‰à¸šà¸±à¸šà¸£à¹ˆà¸²à¸‡</span>
                          <% } else if (item.status == 2||item.status == 3) { %>
                          <span class="w-5 h-5 rounded-full bg-green-500 inline-block"></span>
                          <span class="text-green-500 ">à¸”à¸³à¹€à¸™à¸´à¸™à¸à¸²à¸£à¹à¸¥à¹‰à¸§</span>
                          <% } %>
                          <% } else { %>
                          <span class="w-5 h-5 bg-gray-200 rounded-full border-gray-500 border-2 inline-block"></span>
                          <span class="text-grey-700">à¸¢à¸±à¸‡à¹„à¸¡à¹ˆà¸–à¸¶à¸‡à¸£à¸-à¸šà¹€à¸›à¸´à¸”à¸à¸£à¸¬à¸à¸Ÿà¸¬à¸£à¹Œà¸¡</span>
                          <% } %>

                        </span>


                    </div>
                    <% } %>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <%- renderCard('PIF', 'à¹‚à¸„à¸£à¸‡à¸ªà¸£à¹‰à¸²à¸‡à¸žà¸·à¹‰à¸™à¸à¸²à¸™à¸”à¹‰à¸²à¸™à¸à¸²à¸¢à¸ à¸²à¸ž') %>
            <%- renderCard('DIF', 'à¹‚à¸„à¸£à¸‡à¸ªà¸£à¹‰à¸²à¸‡à¸žà¸·à¹‰à¸™à¸à¸²à¸™à¸”à¹‰à¸²à¸™à¸”à¸´à¸ˆà¸´à¸—à¸±à¸¥') %>
            <%- renderCard('CDP', 'City Data Platform: CDP') %>
            <%- renderCard('ENV', 'Smart Environment') %>
            <%- renderCard('ENE', 'Smart Energy') %>
            <%- renderCard('GOV', 'Smart Governance') %>
            <%- renderCard('ECO', 'Smart Economy') %>
            <%- renderCard('LIV', 'Smart Living') %>
            <%- renderCard('MOB', 'Smart Mobility') %>
            <%- renderCard('PEO', 'Smart People') %>

          </div>
        </div>
      </div>
    </div>
    <div class="mt-auto">
      <%- include('../component/footer.ejs') %>
    </div>
  </div>

</body>

</html>
